@inherits LayoutComponentBase

<PageTitle>MyStore.UI</PageTitle>
<div
  class="bg-image"
  style="
    background-image: url('https://img.freepik.com/premium-photo/seamless-pattern-tropic-monstera-butterfly-watercolor-isolated-on-white-watercolor-botanical-llustration-design_615176-1103.jpg?w=2000');
width:100%;
    height:100%;
  "
>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
</div>